.custom-button {
    width: 5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    padding: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.font-icon {
    font-size: 2rem;
    margin-bottom: 0.1em;
}

.button-spacing {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.bg-image {
    max-width: 40em;
    max-height: 60em;
}

.option-container {
    vertical-align: middle;
    padding-top: 1rem;
}

.bg-style {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 50rem;
    max-width: 70rem;
    min-height: 30rem;
}

.custom-text-field {
    background-color: transparent;
    border: 0px solid #ccc;
    width: 80%;
    height: 60%;
    margin-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #ffff;
}

textarea:focus {
    outline: none;
}

.download-button {
    background-color: #2a2c32;
    color: #ffff;
}

.search-item {
    /* margin: 1rem; */
    border: 1px solid #ccc;
    margin-top: 1rem;
}

.image-item {
    max-width: 10rem;
    max-height: 10rem;
    min-width: 10rem;
    min-height: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.selected-item {
    border: 5px solid green;
}
